:root {
    --color-primary-accent: #2614c7;
    --color-primary: #000;
    --color-button: #3d486c;
    --color-paragraph: #797979;
    --color-button-text: rgb(255, 255, 255);
    --color-background: rgb(248, 249, 250);
    --color-hover: #1890ff;
    --color-anchor: #000aff;
    --antd-color : rgba(0, 0, 0, 0.45);
    --background-naver-image: url('../sociallogin/naver/btnG_완성형.png');
  }
  
  [data-theme='dark'] {
    --color-primary-accent: #00ff4c;
    --color-primary: #fff;
    --color-button: #00ff4c;
    --color-paragraph: #8a8a8a;
    --color-button-text: rgb(0, 0, 0);
    --color-background: rgb(18, 18, 18);
    --antd-color : white;
    --background-naver-image: url('../sociallogin/naver/btnD_완성형.png');
  }
  
  *{
    box-sizing: border-box;
  }
  /* 버튼과 바디 등 필요한 변수들을 설정해줌으로써 값 지정해주기  */
  button{
    background-color: var(--color-background);
    color: var(--color-primary);
  }
  
  body , ul , div:not(.img_overlay *,.ant-switch-handle, .ant-card-bordered *, .dropzone , .progress * ,#listDivWrapper,#listDivWrapper *,.color-ignore){
    background-color: var(--color-background) !important;
    color: var(--color-primary) !important;
    transition-property: color, background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .ant-card-meta-detail * , .userinfo_css{
    color: var(--color-primary) !important;
  }

  .ant-card-body {
    background: var(--color-background) !important; 
    transition: background 0.5s ease;
  }
  
  .antd_icon:hover ,.userinfo_css:hover{color: var(--color-hover) !important; }


  .antd_icon{
    color: var(--antd-color) !important
  }

  .ant-switch-handle {
    background: none !important;
  }
  
  h1,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  .kakao_img {
    width: 183px;
    height: 45px;
    border: none;
    background-image: url('../sociallogin/kakao/kakao_login_medium_narrow.png');
  }

  .naver_img {
    width: 183px;
    height: 45px;
    margin-top: 5px;
    background-image: var(--background-naver-image); 
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
    transition: background-image 0.5s ease;
  }


  .container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  
  .container > p {
    font-size: 1rem;
  }
  
  .container > em {
    font-size: .8rem;
  }
  
  .dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
  }
  
  .dropzone:focus { border-color: #2196f3; }
  .dropzone.disabled { opacity: 0.6; }

  .thumbs-container {
    height: 110px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .close-btn { position:relative; cursor:pointer; bottom: 75%; left: 3%; }

  .thumb {
    display: inline-flex;
    border-radius: 2;
    border: 1px solid #eaeaea;
    margin-bottom: 8;
    margin-right: 8;
    width: 120px;
    height: 100px;
    padding: 4;
    box-sizing: border-box;
    min-width: 0;
  }
  
  .thumb-inner { display: flex; min-width: 0; overflow: hidden; }
  .thumb-inner-img { display: block; width: 'auto'; height: '100%'; }

  .mention-list-hover { background-color: #eaeaea; }

  .comment-editor { font-weight: bold; color: 'rgb(0, 55, 107)';}

  #comment-btn {
    position: absolute;
    right: 0;
    bottom: 6px;
    z-index: 1;
  }
  .comment-container {
    overflow-y: scroll;
    height: 300px;
    border: 1px solid #d9d9d9;
    padding: 0 16px;
    border-radius: 2px;
  }
  

